.message {
    text-align: left;
    border-radius: 20px;
    background: #1976d2;
    padding: 1px 10px;
    margin: 10px 15px;
    color: #fff;
}
.text {
    white-space: pre-line;
}
.author {
    font-weight: bold;
}